name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  linting:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        python -m pip install tox

    - name: Run pre-commit
      run: |
        tox -e precom

    - name: Run mypy
      run: |
        tox -e mypy

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
        requests-version: ['"requests>=2.0,<3.0"']
        urllib3-version: ['"urllib3<2"', '"urllib3>=2,<3.0"']


    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ${{ matrix.requests-version }} ${{ matrix.urllib3-version }}
        make install-deps

    - name: Run Pytest
      run: |
        # Run test
        pytest . --asyncio-mode=auto --cov-report term-missing --cov-report xml --cov responses

    - name: Code Coverage Report
      if: success()
      uses: codecov/codecov-action@v3
